@import "../../../../tokens/css/theme.css";

.icon{
  margin-right: 10px;
}
.storybook-button {
  font-family: var(--tokens-font-body);
  font-weight: 500;
  border: 0;
  border-radius: var(--tokens-radius-button);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  padding: var(--tokens-padding-button);
}
.storybook-button--primary {
  color: var(--tokens-color-button-primary-default-label);
  background-color: var(--tokens-color-button-primary-default-background);
  border: 1px solid var(--tokens-color-button-primary-default-border);
  width: var(--tokens-sizes-button-primary-width);
  height: var(--tokens-sizes-button-primary-height);
}
.storybook-button--primary .icon {
  color:var(--tokens-color-button-primary-default-icon);
}
.storybook-button--primary:hover {
  color: var(--tokens-color-button-primary-hover-label);
  background-color: var(--tokens-color-button-primary-hover-background);
  border: 1px solid var(--tokens-color-button-primary-hover-border);
}
.storybook-button--primary:hover .icon{
  color:var(--tokens-color-button-primary-hover-icon);
}
.storybook-button--primary:active {
  color: var(--tokens-color-button-primary-pressed-label);
  background-color: var(--tokens-color-button-primary-pressed-background);
  border: 1px solid var(--tokens-color-button-primary-pressed-border);
}
.storybook-button--primary:active .icon{
  color:var(--tokens-color-button-primary-pressed-icon);
}
.storybook-button--primary:focus {
  color: var(--tokens-color-button-primary-focus-label);
  background-color: var(--tokens-color-button-primary-focus-background);
  border: 2px solid var(--tokens-color-button-primary-focus-border);
}
.storybook-button--primary:focus .icon{
  color:var(--tokens-color-button-primary-focus-icon);
}
.storybook-button--primary:disabled {
  color: var(--tokens-color-button-primary-disabled-label);
  background-color: var(--tokens-color-button-primary-disabled-background);
  border: 1px solid var(--tokens-color-button-primary-disabled-border);
}
.storybook-button--primary:disabled .icon{
  color:var(--tokens-color-button-primary-disabled-icon);
}
.storybook-button--secondary {
  color: var(--tokens-color-button-secondary-default-label);
  background-color: var(--tokens-color-button-secondary-default-background);
  border: 1px solid var(--tokens-color-button-secondary-default-border);
  width: var(--tokens-sizes-button-secondary-width);
  height: var(--tokens-sizes-button-secondary-height);
}
.storybook-button--secondary .icon{
  color:var(--tokens-color-button-secondary-default-icon);
}
.storybook-button--secondary:hover {
  color: var(--tokens-color-button-secondary-hover-label);
  background-color: var(--tokens-color-button-secondary-hover-background);
  border: 1px solid var(--tokens-color-button-secondary-hover-border);
}
.storybook-button--secondary:hover .icon{
  color:var(--tokens-color-button-secondary-hover-icon);
}
.storybook-button--secondary:active {
  color: var(--tokens-color-button-secondary-pressed-label);
  background-color: var(--tokens-color-button-secondary-pressed-background);
  border: 1px solid var(--tokens-color-button-secondary-pressed-border);
}
.storybook-button--secondary:active .icon{
  color:var(--tokens-color-button-secondary-pressed-icon);
}
.storybook-button--secondary:focus {
  color: var(--tokens-color-button-secondary-focus-label);
  background-color: var(--tokens-color-button-secondary-focus-background);
  border: 2px solid var(--tokens-color-button-secondary-focus-border);
}
.storybook-button--secondary:focus .icon{
  color:var(--tokens-color-button-secondary-focus-icon);
}
.storybook-button--secondary:disabled {
  color: var(--tokens-color-button-secondary-disabled-label);
  background-color: var(--tokens-color-button-secondary-disabled-background);
  border: 1px solid var(--tokens-color-button-secondary-disabled-border);
}
.storybook-button--secondary:disabled .icon{
  color:var(--tokens-color-button-secondary-disabled-icon);
}
.storybook-button--small {
  font-size: 12px;
}
.storybook-button--medium {
  font-size: 16px;
}
.storybook-button--large {
  font-size: 20px;
}
